header{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: darkslategray;
}
header .logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
header nav{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}
nav ul li a:hover{
    color: lightseagreen;
}
nav .nav-cart{
    cursor: pointer;
    position: sticky;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-style: double;
    border-radius: 25px;
  background: gray;
  padding: 5px;
  
}
nav .nav-cart a{
    text-transform: capitalize !important;
}
nav .nav-cart span{
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: crimson;
    font-size: 15px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}

@media (max-width: 650px){
    header ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: darkslategray;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    
    }
    header ul.toggle{
        top: 0;
    }

.cart{
    color: white;
}